.popup-cover{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(#000, 0.15);
  padding-top: 50px;
  .popup-window{
    background: white;
    position: absolute;
    top: 50px;
    right: 0px;
    left: 0px;
    margin: auto;
    width: 1200px;
    height: 800px;
    border-radius: 10px;
    transition: 0.5s all ease;
    transform: scale3d(0, 0, 0);
    transform: rotate(0deg);

    .popup-header{
      padding: 5px;
      background: black;
      color: white;
      width: 100%;
      height: 50px;
      font-size: 20px;

      .close{
        font-size: 20px;
        font-weight: 700;
        color: white;
        position: absolute;
        top: 15px;
        right: 15px;
      }
    }

    .popup-body{
      padding: 5px;
    }

    .popup-bottom{
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      text-align: center;
    }

  }
  .active{
    transform: scale3d(1, 1, 1);
    transform: rotate(720deg);
  }
}
